body {
  margin: 0;
  font-family: 'Roboto', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  font-size:large;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-LexendBold{
  font-family: 'Lexend', 'Roboto', 'Courier New';
  font-weight: 700;
  font-size: larger;
}

.font-RobotoMedium{
  font-family: 'Roboto', 'Courier New';
  font-weight: 500;
  font-size: larger;
}
